<div>
    <div class="conteudo">

    </div>
    <div class="sidebar">
        <a href="http://logaritmos-web.duckdns.org:3333/info.html" >
            <img src="/assets/person.png" alt="">
        </a>    
          <a href="http://logaritmos-web.duckdns.org:3333/dashboard.html" >
              <img src="/assets/relogio.png" alt="">
        </a>
      
        <li ><img routerLink="/crisis-center" src="/assets/mensag.png" alt=""></li>
         <a href="http://logaritmos-web.duckdns.org:3333/comparativos.html" >
             <img href src="/assets/pasta.png" alt="">
        </a>
        <a href="http://logaritmos-web.duckdns.org:3333/configuracoes.html" >
           <img src="/assets/config.png" alt="">
        </a>
        
         <a href="login.html" >
             <img href src="/assets/exit.png" alt="">
        </a>
    </div>
</div>
