.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    background-color: #00283a;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 36px;
    padding-top: 100px;
}


.sidebar img {
    
    width: 33px;
   
}

li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#004F73;
}