



<div class="relatorio_container">
    <h1>Mensagens</h1>
    <div class="relatorio_titulos">
        <div >
            <a href="">Alertas</a>
        </div>
        <div class="ativo">
            Relatórios
        </div>
    </div>
    <div class="relatorio_zone">
         <div class="top_relatorio">
            <div class="top_relatorio_container">
                <div>
                    <img src="assets/filtro.png" alt="">
                </div>
                <div>
                    <p>11/11/1111</p>
                </div>
                <div>
                    <p>:</p>
                    <p>11/11/1111</p>
                     <img src="assets/calendario.png" alt="">
                </div>
                <div class="pesquisar">
                    <input  type="text" name="" id="">
                </div>
                <div class="icones">
                    <img src="assets/download.png" alt="">
                    <img src="assets/rename.png" alt="">
                    <img src="assets/star.png" alt="">
                      <img src="assets/trash.png" alt="">
                      
                </div>
            </div>
        </div>
             <div class="relatorio">
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
          <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
            </div>
    </div>
    <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 

             <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p>02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
     </div>
</div>