<div class="relatorio_container">
    <h1>Mensagens</h1>
    <div class="relatorio_titulos">
        <div>
            <a href="">Alertas</a>
        </div>
        <div class="ativo">
            Relatórios
        </div>
    </div>
    <div class="relatorio_zone">
        <div class="top_relatorio">
            <div class="top_relatorio_container">
                <div>
                    <input type="date">
                    <p>:</p>
                    <input type="date">
                    <img class="calendario" src="assets/calendario.png" alt="">
                </div>
                <div class="pesquisar">
                    <input type="text" name="" id="">
                </div>
                <div class="icones">
                    <li>
                        <img class="download" src="assets/download.png" alt="">
                    </li>
                    <div class="icones2">
                        <img src="assets/rename.png" alt="">
                        <img src="assets/star.png" alt="">
                        <img src="assets/trash.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="relatorio">
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls.</p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button_relatorio">
                <div class="button_relatorio_container">
                    <input type="checkbox">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p class="arquivo">Relatorio-DestinosRanking-Agosto0250901.xls. </p>
                    </div>
                    <div class="divDots">
                        <img src="assets/dots.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>