.relatorio_container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relatorio_titulos {
    display: flex;
    gap: 26rem;
    padding-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.ativo {
    border-bottom: 2px solid #2486b4;
}

.relatorio_zone {
    width: 1000px;
    height: 525px;
    border-radius: 0px;
  border: 1px solid  rgb(124, 124, 124);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

.relatorio_container h1 {
    font-size: 32px;
}

.relatorio_titulos {
    font-size: 26px;
}

.top_relatorio {
    height: 15%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 1px solid rgb(69, 69, 69);
}

.top_relatorio_container {
    display: flex;
}

.top_relatorio_container p{
    font-size: 21px;
    padding-right: 4px;
    padding-left: 4px;
}

.top_relatorio_container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario {
    width: 50px;
    padding-left: 10px;
}

.top_relatorio_container input{
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 12px;
}

.top_relatorio_container {
    gap: 35px;
}

.button_relatorio {
    position: relative;
    width: 96%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
}


.button_relatorio_container  {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}


.button_relatorio_container img {
    width: 40px;
}

.relatorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 5px;
}

.pesquisar {
    position: relative;
}


.pesquisar input {
    width: 310px;
    height: 25px;
    border-radius: 15px;
    margin-top: 8px;
}

.icones {
    gap: 10px;
}

.icones2 img{
    padding: 2px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.icones li{
    display: flex;
    background-color: #00354C;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border-radius: 6px;
}

.download{
    width: 40%;
    height: 40%;
}

.horario {
    font-weight:lighter;
    color: #343434;
    font-size: 12px;
}

.arquivo{
    text-decoration: underline;
    font-weight: bold;
}

.divDots{
    position: absolute;
    right: 0.5%;
    top: 18%;
}

.divDots img{
    width: 20px;
    height: 20px;
}

.pesquisa_img {
    position: absolute;
    right: 8px;
    bottom: 6px;
    width: 20px;
    height: 20px;
}