

header {
    
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
    
    color: #fff;
    background-color: #001A27;
    margin-bottom: 10px;
}

.Logo_img {
    width: 20px;
}