

header {
    
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    padding: 18.5px 0;
    
    color: #fff;
    background-color: #00283a;
    margin-bottom: 10px;
}

.Logo_img {
    width: 171px;
    height: 23px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-top: 0px;
}