

header {
    
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
    
    color: #fff;
    background-color: #00283a;
    margin-bottom: 10px;
}

.Logo_img {
    width: 175px;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 5px;
}