

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
     font-family: 'Inter', sans-serif;
}


.alerta_container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alerta_container h1 {
    font-size: 32px;
}

.alerta_titulos {
    font-size: 26px;
}

a {
    color: black;
    text-decoration: none;
}

.alerta_titulos {
    display: flex;
    gap: 26rem;
    padding-bottom: 10px;

}

.ativo {
    border-bottom: 2px solid #2486b4;
}

.alerta_zone {
    width: 1000px;
    height: 525px;
    border: 2px solid  rgb(124, 124, 124);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}

.top_alert {
    height: 15%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1.5px solid rgb(134, 134, 134);
   box-shadow: 0px 1px 6px rgba(203, 203, 203, 0.6);
}

.top_alert_container {
    display: flex;
    gap: 60px;
}

.top_alert_container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_alert_container img {
    width: 50px;
    padding-left: 10px;
    
}

.top_alert_container p{
    font-size: 21px;
    padding-right: 10px;

}

.top_alert_container input{
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 12px;
}

.top_alert_container select{
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    font-weight: 600;
    background-color: #00283A;
    color: white;
}

.button_alert {
    width: 98%;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
    padding: 0px 10px;
}


.button_alert_container  {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    font-weight: 600;
}



.horario {
    font-weight:lighter;
    color: #343434;
    font-size: 12px;
}


.button_alert_container img {
    width: 40px;
}

.alertas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    gap: 5px;
      height: 440px;     
  overflow-y: auto;  
  overflow-x: hidden; 
}

.sinoAlerta{
    width: 40px;
    height: 40px;
    background-color: #00283A;
    border-radius: 7px;
}

.sinoAlerta img{
    width: 52%;
    height: 52%;
    padding: 0px;
}

.alerta_zone--with-overlay {
  position: relative;
}

.alertas-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: 8px;
  color: #555;
}


.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}