



<div class="alerta_container">
    <h1>Mensagens</h1>
    <div class="alerta_titulos">
        <div class="ativo">
            Alertas
        </div>
        <div>
            <a (click)="AlterarEstados()" >Relatórios</a>
        </div>
    </div>
    <div class="alerta_zone">
        <div class="top_alert">
            <div class="top_alert_container">
                <div>
                    <p>Início</p>
                    <input type="date">
                    <img src="assets/calendario.png" alt="">
                </div>
                <div>
                    <p>Fim</p>
                    <input type="date">
                    <img src="assets/calendario.png" alt="">
                </div>
                <div>
                    <select name="" id="">
                        <option value="">Geral</option>
                        <option value="">Destino 1</option>
                        <option value="">Destino 2</option>
                        <option value="">Destino 3</option>
                        <option value="">Destino 4</option>
                    </select>
                    <img src="assets/aviao.png" alt="">
                </div>
                <div class="sinoAlerta">
                    <img src="assets/sino.png" alt="">
                </div>
            </div>
        </div>
        <div class="alertas">
            <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
          <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
            </div>
    </div>
    <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 

             <div class="button_alert">
                <div class="button_alert_container">
                    <img src="assets/alerta.png" alt="">
                    <div>
                        <p class="horario">02/09/2025 10:48</p>
                        <p>Alerta! Redução na demanda por voos para o Rio de Janeiro. </p>
                    </div>
                </div>
             </div> 
     </div>
</div>